<template>
<div>
  <div class="mx-auto w-[420px]">
    <h1 class="text-center text-[#4A5568] tracking-[1.26px] text-[24px] ">{{ title }}</h1>
  </div>
  <div class="bg1 relative mb-12 pb-12">
    <div class="pt-2">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <div class="w-[220px] md:w-3/5 mt-6 py-6 text-center">
          <img class="w-full md:w-4/5 z-50" :src="require(`~/assets/images/${img0}`)" />
        </div>
        <div class="ml-24 mb-4 mx-auto w-[240px]">
          <h1 class="text-center text-test-big-text tracking-[1.26px] text-[16px] ">{{ head0 }}</h1>
        </div>
      </div>
    </div>
    <div class="absolute bottom-6 left-0 ...">
      <h1 class="font-lato text-[130px] text-test-big-text">1.</h1>
    </div>
  </div>
  <div class="bg2 relative mt-12">
    <WaveUp class="w-full"/>
    <div class="mt-14 py-12">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <div class="w-[260px] md:w-3/5 text-center">
          <img class="w-full md:w-4/5 z-50" :src="require(`~/assets/images/${img1}`)" />
        </div>
      </div>
    </div>
    <div class="absolute top-32 left-36 pl-8 pt-0.5">
      <h1 class="text-center text-test-big-text tracking-[1.26px] text-[16px] ">{{ head1 }}</h1>
    </div>
    <div class="absolute top-2 left-8 ...">
      <h1 class="font-lato text-[130px] text-test-big-text">2.</h1>
    </div>
    <Wave />
  </div>
  <div class="bg3 relative">
    <!-- <WaveUp class="w-full"/> -->
    <div class="absolute bg-[#F7FAFC] top-0 left-0 ml--20 w-80 h-80 z-5" style="clip-path: circle(42% at 30% 43%);">
    </div>
    <div class="pt-2">
      <div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
        <div class="mt-12 pt-4 ml-48 mx-auto z-10 w-[180px]">
          <h1 class="text-left text-test-big-text tracking-[1.26px] text-[16px]">{{ head2 }}</h1>
        </div>
        <div class="w-[240px] md:w-3/5 mt-4 py-6 text-center z-10">
          <img class="w-full md:w-4/5 z-50" :src="require(`~/assets/images/${img2}`)" />
        </div>
      </div>
    </div>
    <div class="absolute top-0 left-16">
      <h1 class="font-lato text-[130px] text-test-big-text">3.</h1>
    </div>
    <Wave/>
  </div>
</div>
</template>


<script>
  export default {
    props: {
      title: { type: String, default: '' },
      head0: { type: String, default: '' },
      head1: { type: String, default: '' },
      head2: { type: String, default: '' },
      img0: { type: String, default: '' },
      img1: { type: String, default: '' },
      img2: { type: String, default: '' },
    }
  }
</script>

<style lang="css">
.bg1 {
  top: 0px;
  width: 100%;
  /* background: url("/assets/images/bg1.svg"); */
  background: white
}

.bg2 {
  top: 0px;
  width: 100%;
  /* background: url("/assets/images/bg1.svg"); */
  background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
}

.bg3 {
  top: 0px;
  width: 100%;
  /* background: url("/assets/images/bg1.svg"); */
  background: white;
}

</style>